/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Add this to your global styles */

.input-container {
  position: relative;
  
  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
  }
  
  .input-icon-right {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
    
    &:hover {
      color: #555;
    }
  }
  
  input {
    padding-left: 35px;
    padding-right: 35px; /* Add right padding for the eye icon */
  }
}

.forgot-password {
  text-align: right;
  margin-top: 5px;
}

.alert {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  
  &.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
  }
}
